<% if(ionic) { %>
@import "../../bower_components/ionic/scss/ionic.scss";
<% } %>
<% if(famous) { %>
.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.full-height,
.full-height .fa-surface {
    height: 100%
}

.full-width,
.full-width .fa-surface {
    width: 100%
}
<% } %>