language: node_js
sudo: false

node_js:
  - 0.12
  - 4
  - 5

cache:
  directories:
    - node_modules

before_script:
  - npm install -g gulp

after_success:
  - CODECLIMATE_REPO_TOKEN=$CODECLIMATE_REPO_TOKEN codeclimate-test-reporter < ./coverage/mocha/lcov.info

deploy:
  provider: npm
  email: thaiat@ipelia.com
  api_key: $NPM_API_KEY
  on:
    tags: true
    all_branches: true
    node: '0.12' # this should be quoted; otherwise, 0.10 would not work
    repo: mcfly-io/generator-mcfly
