<!doctype html>
<html lang="en" ng-app="main">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!--[if IE]>
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <![endif]-->
    <title>Sample app</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body <% if (ionic) { %>class="platform-cordova"<% } %>>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <ui-view></ui-view>
    <script src="scripts/bundle.js"></script>
</body>

</html>