<% if (ionic) { %>@import "../../node_modules/ionic-sdk/scss/ionic.scss";<% } %>
<% if (fontawesome) { %>@import "../../node_modules/font-awesome/scss/font-awesome.scss";<% } %>
<% if (famous) { %>
@import "../../bower_components/famous-angular/dist/famous-angular";  
<% } %>  
<% if (bootstrap) { %>
@import "../../node_modules/bootstrap/dist/css/bootstrap";
@import "../../node_modules/bootstrap/dist/css/bootstrap-theme";
<% } %>
<% if (material) { %>
@import "../../node_modules/angular-material/angular-material";
<% } %>
<% if (famous) { %>
.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.full-height,
.full-height .fa-surface {
    height: 100%
}

.full-width,
.full-width .fa-surface {
    width: 100%
}
<% } %><% if (bootstrap) { %>
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
<% } %>